:root{
    --my-primary: #6610F2;
    --my-secondary: #856bc7;
}

@font-face {
    font-family: 'Poppins';
    src: url("fonts/Poppins-Light.ttf");
    font-weight: normal;
    font-style: normal;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
@keyframes color-animation {
    from {
        background: linear-gradient(to bottom right, #03d79c, #5d9eb0);
    }
    to {
        background: linear-gradient(to bottom right, var(--my-primary), var(--my-secondary));
    }
}
.background{
    position: relative;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom right, var(--my-primary), var(--my-secondary));
    /*animation-name: color-animation;*/
    /*animation-iteration-count: infinite;*/
    /*animation-duration: 10s;*/
    /*animation-timing-function: ease-in-out;*/
}
.bg-design{
    width: 30%;
    height: 20%;
    background: white;
    opacity: .5;
    margin: 0 auto;
}

.container.resume{
    height: 100%;
    width: 100%;
    display: flex;
}
.container.resume .profile-overview{
    flex: 1;
}
.container.resume .full-profile{
    flex: 2;
    background: blue;
}
.profile-card{
    background: #fff;
}
.custom-card-header{
    padding: 0;
}
.card-body{
    position: relative;
}
.profile-picture{
    border-radius: 50%;
    background: url("../images/profile-picture.jpg") 5px 0px;
    background-size: cover;
    height: 150px;
    width: 150px;
    position: relative;
    box-shadow: -7px 13px 5px 0px rgba(133, 107, 199, 0.24);
    box-sizing: border-box;
    margin: -15% auto 0;
}
.profile-name{
    text-align: center;
}
.profile-name h1{
    padding-top: 10px;
    font-size: 36px;
}
.profile-name h6{
    color: var(--my-primary);
}
@keyframes blink {
    from{
        z-index: 1;
        /*display: inline-block;*/
    }
    to{
        z-index: -1;
        /*display: none;*/
    }
}
.blink-underscore:before{
    position: relative;
    content: '_';
    display: inline-block;
    -webkit-animation-name: blink;
    -moz-animation-name: blink;
    -o-animation-name: blink;
    animation-name: blink;
    animation-duration: .5s;
    animation-iteration-count: infinite;
}
.card-social-sites{
    margin-top: 25px;
}
.social-icon{
    padding: 0 10px;
}
.social-site{
    text-decoration: none;
    color: #000;
}